.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid black;

  &.filled {
    background-color: black;
  }
}

.empty-body {
  display: inline-block;
  width: 100px;
}
